#header4-4 H1 {
  color: #000000;
  font-size: 84px;
  text-align: center;
}
#header4-4 .btn {
  font-size: 17px;
}
#header4-4 P {
  color: #000000;
  text-align: center;
  font-size: 14px;
}
#content1-f P {
  font-size: 18px;
  text-align: center;
}
